<section class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto pb-12">
    <div class="grid grid-cols-1 lg:grid-cols-4 text-secondary gap-6 text-lg">
      <p
        class="text-3xl lg:col-span-3 lg:text-5xl indent-32 lg:indent-32"
        data-aos="fade-up"
        data-aos-duration="2000"
      >
        I'm a Computer Science Bsc (Hons) student at Newcastle University. passionate about building software that makes an impact. 
        I am fascinated by web development, AI and enjoy turning ideas into working projects.
      </p>

      <p
        class="text-4xl lg:col-start-2 lg:col-span-3 lg:text-3xl mt-10"
        data-aos="fade-up"
        data-aos-duration="2000"
      >
        Outside of coding, I am a creative at heart, I love painting, DJing, and experimenting with music production. 
        I am also dedicated to staying active and hitting the gym regularly. I enjoy combining my technical skills with 
        my creative pursuits, always looking for new ways to learn, explore, and challenge myself.
      </p>
    </div>
  </div>
</section>