---
import { Image } from 'astro:assets';
import painting1 from "../assets/painting1.png"
import painting2 from "../assets/painting2.jpeg"
import painting3 from "../assets/painting3.jpeg"
---

<section class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto pb-12">
    <div class="grid grid-cols-1 lg:grid-cols-4 text-secondary gap-6 text-lg">
      <p
        class="text-3xl lg:col-span-3 lg:text-5xl indent-32 lg:indent-32"
        data-aos="fade-up"
        data-aos-duration="2000"
      >
        I'm a Computer Science Bsc (Hons) student at Newcastle University. Outside of studies, I'm an Artist, DJ and learning to proudce music.
      </p>
    </div>
  </div>
</section>