<section class="bg-primary">
  <div
    class="px-8 2xl:max-w-7xl mx-auto pt-12"
    data-aos="fade-up"
    data-aos-duration="2000">
    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      width="100%" viewBox="0 0 755 300" enable-background="new 0 0 755 300" xml:space="preserve">
      <path fill="#020202" opacity="1.000000" stroke="none" 
        d="
      M112.179794,124.095154 
        C102.516472,139.575089 87.659592,143.669479 71.153770,143.832993 
        C49.344784,144.049011 27.532047,143.886139 5.351669,143.886139 
        C5.351669,98.450531 5.351669,52.963211 5.351669,7.029632 
        C15.791612,7.029632 26.233257,6.910762 36.671165,7.057628 
        C52.138527,7.275260 67.718338,6.610829 83.042068,8.258402 
        C105.951599,10.721582 118.788605,31.716429 112.078003,53.559830 
        C110.085739,60.044792 108.399277,62.058582 98.113075,70.235207 
        C118.527145,82.060745 124.063995,102.860153 112.179794,124.095154 
      M37.650600,120.265762 
        C48.962471,120.203033 60.289062,120.477585 71.582161,119.984695 
        C83.366684,119.470360 89.576370,112.299423 89.453659,100.418922 
        C89.352974,90.670853 82.592659,84.349236 71.395035,83.916527 
        C64.417099,83.646881 57.422295,83.804855 50.435017,83.788345 
        C44.526310,83.774384 38.617542,83.785469 32.623077,83.785469 
        C32.623077,96.240303 32.623077,107.993690 32.623077,119.996132 
        C34.114563,120.095032 35.401772,120.180382 37.650600,120.265762 
      M47.508934,30.647612 
        C42.572815,30.647612 37.636700,30.647612 32.756023,30.647612 
        C32.756023,40.974380 32.756023,50.690514 32.756023,60.250801 
        C45.730133,60.250801 58.366451,60.775143 70.936462,60.087448 
        C81.279808,59.521572 86.364410,53.624641 86.135017,44.645058 
        C85.916458,36.089523 80.636208,31.432589 69.946877,30.908321 
        C62.812511,30.558411 55.653217,30.716763 47.508934,30.647612 
      z"/>
      <path fill="#030303" opacity="1.000000" stroke="none" 
        d="
      M183.619781,195.574661 
        C200.177704,182.988190 220.780426,186.557831 232.565140,203.939575 
        C233.135544,203.343277 233.764587,202.846542 234.193344,202.214050 
        C246.004272,184.790726 265.824097,185.992523 278.575256,192.600143 
        C289.365143,198.191467 294.587341,207.635696 294.757996,219.412430 
        C295.105347,243.382446 294.861938,267.361023 294.861938,291.669861 
        C286.064728,291.669861 277.358917,291.669861 268.191162,291.669861 
        C268.191162,283.794586 268.191162,276.010315 268.191162,268.226044 
        C268.191162,256.563751 268.200195,244.901474 268.183472,233.239227 
        C268.180115,230.907837 268.181000,228.568802 268.004364,226.246628 
        C267.226898,216.026749 262.252350,210.737473 253.432266,210.654236 
        C243.658615,210.561981 236.748581,216.461594 236.115128,226.212418 
        C235.608414,234.012283 235.871368,241.864380 235.855804,249.693436 
        C235.828049,263.643829 235.847992,277.594299 235.847992,291.772278 
        C226.838379,291.772278 218.247269,291.772278 209.080231,291.772278 
        C209.080231,289.475586 209.080261,287.207794 209.080231,284.940033 
        C209.080002,266.946808 209.081772,248.953568 209.076218,230.960327 
        C209.075699,229.294647 209.082748,227.626083 208.994171,225.963760 
        C208.449173,215.736710 203.605469,210.875839 193.790344,210.667282 
        C183.866714,210.456406 177.849319,215.429276 177.072479,225.221268 
        C176.533600,232.013763 176.740234,238.870117 176.722305,245.698242 
        C176.682144,260.983490 176.709732,276.268890 176.709732,291.776917 
        C167.679459,291.776917 159.093964,291.776917 150.251495,291.776917 
        C150.251495,258.315125 150.251495,224.909744 150.251495,191.191467 
        C158.437744,191.191467 166.674637,191.191467 175.388458,191.191467 
        C175.388458,195.371933 175.388458,199.619781 175.388458,204.944077 
        C178.530899,201.344070 180.942215,198.581665 183.619781,195.574661 
      z"/>
      <path fill="#030303" opacity="1.000000" stroke="none" 
        d="
      M632.935547,122.998718 
        C632.935425,108.335297 632.979431,94.171478 632.899475,80.008354 
        C632.882629,77.030380 632.658936,74.007454 632.101013,71.087326 
        C630.449524,62.444462 625.926697,58.440598 618.053223,58.313839 
        C609.550049,58.176941 602.841858,63.046967 601.133240,70.951355 
        C600.470886,74.015366 600.262878,77.227654 600.250671,80.373955 
        C600.174500,100.034698 600.212219,119.695885 600.212219,139.679657 
        C591.395203,139.679657 582.672607,139.679657 573.640564,139.679657 
        C573.640564,119.915154 573.659912,100.286697 573.619995,80.658348 
        C573.613892,77.666725 573.508118,74.654404 573.147095,71.688324 
        C572.072693,62.860508 567.610596,58.819199 558.652588,58.328445 
        C549.799255,57.843426 543.875549,61.890900 541.999756,70.080956 
        C541.301636,73.129082 541.057373,76.338951 541.044495,79.476860 
        C540.962341,99.453018 541.002747,119.429688 541.002747,139.704041 
        C532.094727,139.704041 523.381653,139.704041 514.437256,139.704041 
        C514.437256,106.130295 514.437256,72.693130 514.437256,38.908638 
        C522.815796,38.908638 531.214050,38.908638 540.015869,38.908638 
        C540.015869,43.448433 540.015869,47.845177 540.015869,52.898769 
        C553.427307,30.148817 585.263977,30.786240 597.340515,51.673206 
        C597.891602,50.999058 598.371216,50.452583 598.807129,49.873192 
        C610.311829,34.582333 629.725403,31.249687 645.794189,41.818123 
        C653.663879,46.993984 658.566833,54.315861 658.976379,63.643471 
        C659.648254,78.943275 659.523560,94.279610 659.650452,109.601234 
        C659.732971,119.563393 659.666016,129.526794 659.666016,139.744110 
        C650.690247,139.744110 642.105835,139.744110 632.935547,139.744110 
        C632.935547,134.355347 632.935547,128.926956 632.935547,122.998718 
      z"/>
      <path fill="#010101" opacity="1.000000" stroke="none" 
        d="
      M300.522339,254.999756 
        C300.522339,233.513855 300.522339,212.527969 300.522339,191.213501 
        C308.901306,191.213501 317.147400,191.213501 325.743256,191.213501 
        C325.743256,195.469055 325.743256,199.897705 325.743256,204.326370 
        C332.668488,193.997467 342.097717,188.551178 354.318146,188.226318 
        C366.795349,187.894623 376.608612,192.792404 383.133759,204.312454 
        C388.875977,196.067169 395.591309,190.084076 405.497955,188.641785 
        C422.035889,186.234039 445.234711,194.375336 445.277405,221.052765 
        C445.315002,244.523819 445.285309,267.994965 445.285309,291.732605 
        C436.551270,291.732605 427.967133,291.732605 418.846802,291.732605 
        C418.846802,290.280853 418.846802,288.849243 418.846802,287.417633 
        C418.846771,269.260803 418.877716,251.103882 418.815887,232.947266 
        C418.805725,229.964996 418.601349,226.949020 418.118317,224.009140 
        C416.623932,214.914368 412.234985,210.803116 404.171997,210.655182 
        C394.981567,210.486572 388.567963,215.364334 386.971771,223.998901 
        C386.430939,226.924454 386.234833,229.950348 386.225098,232.931519 
        C386.161530,252.413681 386.192383,271.896149 386.192383,291.688965 
        C377.492554,291.688965 368.915466,291.688965 359.936279,291.688965 
        C359.862518,290.367981 359.715607,288.950378 359.714417,287.532654 
        C359.698822,269.042664 359.711517,250.552704 359.693604,232.062744 
        C359.691498,229.900604 359.682220,227.724228 359.449982,225.578964 
        C358.318573,215.127609 354.007080,210.888840 344.397369,210.651337 
        C334.513885,210.407059 329.329926,214.648010 327.629791,224.608887 
        C327.185028,227.214661 327.109894,229.907242 327.104279,232.560455 
        C327.062836,252.191254 327.081848,271.822174 327.081848,291.725861 
        C318.266113,291.725861 309.687134,291.725861 300.522369,291.725861 
        C300.522369,279.651642 300.522369,267.575714 300.522339,254.999756 
      z"/>
      <path fill="#030303" opacity="1.000000" stroke="none" 
        d="
      M46.837997,206.204865 
        C58.850063,209.197876 70.474754,212.060532 82.074623,215.020447 
        C84.965683,215.758148 87.791893,216.764771 90.621849,217.724609 
        C104.237404,222.342682 113.274826,231.163742 114.686241,245.917740 
        C116.201836,261.760681 112.239288,275.681305 98.291588,285.263794 
        C87.769638,292.492737 75.905647,295.317993 63.375454,295.551239 
        C51.669910,295.769135 40.071758,294.804443 29.115543,290.138214 
        C12.443323,283.037567 3.060014,268.773682 3.036612,250.295456 
        C11.942552,250.295456 20.857492,250.295456 29.793514,250.295456 
        C33.572086,265.898865 41.068596,272.001801 57.662994,271.873108 
        C63.898876,271.824738 70.315392,270.994843 76.304741,269.301575 
        C83.857094,267.166412 87.690186,261.414948 87.699768,254.630783 
        C87.708702,248.307983 84.244698,243.542892 76.328072,241.252579 
        C64.361351,237.790543 52.165279,235.126877 40.095894,232.010757 
        C36.241947,231.015732 32.426041,229.811295 28.686481,228.445923 
        C11.461206,222.156662 2.592595,210.545715 5.535442,187.329300 
        C7.653111,170.622787 17.976521,159.982910 33.805004,155.176727 
        C48.599220,150.684570 63.708527,150.513260 78.660210,154.812073 
        C97.658211,160.274246 109.624001,175.635010 110.580025,195.706421 
        C101.636421,195.706421 92.698845,195.706421 83.376427,195.706421 
        C82.237732,187.446350 78.469543,180.652771 69.990089,177.884750 
        C59.546688,174.475601 49.002693,173.989365 38.995792,179.414581 
        C33.302296,182.501282 30.986532,187.618362 31.826317,194.111801 
        C32.619595,200.245605 36.640430,203.296844 42.097904,204.986984 
        C43.524868,205.428909 44.992493,205.739532 46.837997,206.204865 
      z"/>
      <path fill="#020202" opacity="1.000000" stroke="none" 
        d="
      M420.046448,91.052002 
        C426.225220,84.881439 433.695740,82.301163 441.721741,81.034134 
        C450.601410,79.632347 459.508514,78.404938 468.391541,77.023727 
        C472.578949,76.372635 476.162170,74.784645 476.904785,69.972549 
        C477.636047,65.233803 475.059906,60.769123 470.191589,58.926601 
        C463.250397,56.299553 456.168365,56.353550 449.175446,58.838608 
        C443.568878,60.831009 441.995239,65.795029 440.703918,71.038055 
        C432.236877,71.038055 423.817657,71.038055 415.379639,71.038055 
        C416.887238,51.262691 427.463440,39.712917 446.488556,37.060009 
        C459.304474,35.272923 472.076508,34.959030 484.423981,39.773193 
        C497.396179,44.830925 502.980865,52.999496 503.008698,66.862961 
        C503.044495,84.695030 502.930420,102.527924 503.072021,120.358948 
        C503.117615,126.102631 502.653931,132.180176 508.417175,136.165161 
        C509.057617,136.607986 508.849548,138.277924 509.090942,139.710953 
        C499.379700,139.710953 489.972137,139.710953 480.160553,139.710953 
        C479.307953,136.229294 478.425018,132.623825 477.406982,128.466568 
        C470.983307,134.951767 463.923004,140.131592 455.127106,141.241928 
        C448.132477,142.124908 440.658844,142.839432 433.905121,141.341553 
        C411.477325,136.367416 404.289215,109.947998 420.046448,91.052002 
      M476.970612,92.435127 
        C476.554840,92.162292 476.062927,91.581139 475.734589,91.662209 
        C469.305969,93.249496 462.888580,94.884369 456.485809,96.573509 
        C452.647369,97.586128 448.642822,98.273949 445.060730,99.882339 
        C439.635986,102.318085 438.356018,107.274399 438.680389,112.824417 
        C438.995453,118.216003 442.111450,121.476036 446.963196,122.868134 
        C458.362488,126.138924 478.770905,118.428619 477.020233,100.769890 
        C476.774994,98.295952 476.985870,95.776802 476.970612,92.435127 
      z"/>
      <path fill="#030303" opacity="1.000000" stroke="none" 
        d="
      M216.646286,86.481094 
        C216.706680,91.253891 216.706680,95.572166 216.706680,100.428535 
        C193.581436,100.428535 170.365189,100.428535 146.732452,100.428535 
        C147.172729,109.337891 149.494873,116.813675 156.901001,121.456787 
        C164.416901,126.168709 172.591248,126.646675 180.746735,122.971840 
        C182.648865,122.114746 184.976501,120.741760 185.704697,119.014397 
        C187.857956,113.906761 191.798233,114.018799 196.209427,114.157440 
        C202.527390,114.356018 208.856247,114.208046 215.747086,114.208046 
        C213.235184,123.424438 208.829987,131.087723 201.462540,136.609818 
        C183.953751,149.733139 164.685547,149.644897 145.629318,141.517853 
        C127.752945,133.893997 120.849136,118.076546 120.141815,99.612381 
        C119.826889,91.391579 120.465088,82.873009 122.339088,74.880791 
        C127.106689,54.547916 140.603516,43.049690 161.300522,40.264565 
        C182.351761,37.431774 200.954041,45.013691 209.266556,61.395336 
        C213.079254,68.909088 214.228683,77.774261 216.646286,86.481094 
      M180.267624,65.062340 
        C164.682816,56.135380 148.436127,65.006493 147.777557,82.923264 
        C161.534729,82.923264 175.286957,82.923264 189.315872,82.923264 
        C188.997452,75.719696 186.290222,69.961586 180.267624,65.062340 
      z"/>
      <path fill="#030303" opacity="1.000000" stroke="none" 
        d="
      M542.477295,277.446014 
        C517.266113,305.496155 468.588867,298.906097 455.552094,265.233704 
        C447.248993,243.787857 448.068817,222.147995 464.021851,203.763412 
        C477.402527,188.343277 502.365326,183.606949 523.045349,191.350525 
        C541.330017,198.197174 553.180969,215.662552 553.986511,236.813019 
        C554.545532,251.489044 552.273987,265.344299 542.477295,277.446014 
      M501.721649,210.327896 
        C488.535156,211.884995 481.416779,217.642609 479.586365,230.531479 
        C478.487671,238.267914 478.770416,246.509644 480.150055,254.216797 
        C482.241699,265.901794 490.490662,271.948669 501.973297,272.096344 
        C514.047607,272.251648 522.455261,266.644409 524.736816,254.827896 
        C526.277771,246.847015 526.579956,238.226929 525.369080,230.204819 
        C523.357849,216.880966 516.132263,211.367477 501.721649,210.327896 
      z"/>
      <path fill="#030303" opacity="1.000000" stroke="none" 
        d="
      M678.813232,291.296814 
        C664.683350,285.602661 658.693542,274.652679 657.106079,260.274628 
        C666.103760,260.274628 675.001038,260.274628 684.284241,260.274628 
        C684.691162,266.627899 687.098572,271.967621 693.750000,273.928467 
        C702.275513,276.441772 710.962097,276.988556 718.892883,272.347229 
        C720.961243,271.136719 722.893066,267.328522 722.574890,265.034088 
        C722.219299,262.469482 719.690674,259.018158 717.305542,258.145721 
        C710.162354,255.532928 702.613159,254.042908 695.250549,252.012833 
        C689.971924,250.557388 684.676758,249.120163 679.495117,247.361877 
        C653.068298,238.394394 657.078308,207.476532 672.299011,196.990677 
        C677.971497,193.082809 685.030762,190.581680 691.821167,189.043304 
        C702.316589,186.665512 713.032349,187.490631 723.386230,190.781464 
        C737.828552,195.371719 745.629761,205.529968 746.772583,221.679047 
        C738.687134,221.679047 730.628784,221.771851 722.579468,221.543472 
        C721.722473,221.519150 720.557495,219.741470 720.149780,218.564423 
        C717.762512,211.671814 713.973755,208.339569 706.640686,208.073959 
        C702.210938,207.913513 697.630737,208.241241 693.331787,209.255417 
        C689.651306,210.123718 686.970093,212.824173 686.866638,217.149536 
        C686.759277,221.637268 689.572388,223.807083 693.346252,224.865829 
        C702.145081,227.334274 711.016357,229.543503 719.826599,231.972702 
        C723.823425,233.074722 727.764221,234.392319 731.696838,235.712234 
        C741.768555,239.092545 748.858276,245.274063 750.027405,256.421661 
        C751.347046,269.003479 748.472717,280.393188 737.043091,287.209167 
        C731.078552,290.766083 723.957703,293.070526 717.070007,294.243835 
        C704.354980,296.409882 691.518311,296.171265 678.813232,291.296814 
      z"/>
      <path fill="#030303" opacity="1.000000" stroke="none" 
        d="
      M651.076050,210.119598 
        C651.688904,213.625732 652.637451,216.736404 652.653870,219.851990 
        C652.778992,243.661804 652.722473,267.472565 652.722473,291.642761 
        C643.901306,291.642761 635.191711,291.642761 626.004272,291.642761 
        C626.004272,282.238373 626.004395,272.795471 626.004211,263.352570 
        C626.003967,252.354858 626.035828,241.357040 625.994812,230.359482 
        C625.944214,216.786133 621.169373,210.910324 609.818115,210.332184 
        C597.997314,209.730133 588.702393,217.570328 588.113403,229.634995 
        C587.529114,241.605423 587.865234,253.621490 587.827515,265.617645 
        C587.800354,274.244049 587.822266,282.870636 587.822266,291.747131 
        C578.845825,291.747131 570.250488,291.747131 561.334839,291.747131 
        C561.334839,258.272705 561.334839,224.714249 561.334839,190.860153 
        C569.533264,190.860153 577.760925,190.860153 586.635010,190.860153 
        C586.635010,195.231598 586.635010,199.571838 586.635010,204.891708 
        C604.139954,177.254654 645.292236,186.835953 651.076050,210.119598 
      z"/>
      <path fill="#020202" opacity="1.000000" stroke="none" 
        d="
      M328.262085,82.000290 
        C328.262360,93.325439 328.242920,104.150658 328.269836,114.975769 
        C328.288086,122.318474 329.716064,123.773872 336.966339,123.926880 
        C339.450775,123.979324 341.937256,123.935219 344.686707,123.935219 
        C344.686707,130.192078 344.686707,136.466965 344.686707,143.587036 
        C333.076813,144.181641 321.300171,145.919556 310.158173,140.638519 
        C303.471588,137.469238 301.836334,131.010651 301.793427,124.227158 
        C301.672302,105.075966 301.709595,85.923767 301.685028,66.771965 
        C301.682709,64.961868 301.684723,63.151772 301.684723,60.862610 
        C297.130829,60.862610 292.893829,60.862610 288.277740,60.862610 
        C288.277740,54.330490 288.277740,48.276333 288.277740,41.583481 
        C292.468079,41.583481 296.841888,41.583481 301.565552,41.583481 
        C301.565552,32.182728 301.565552,23.402803 301.565552,14.343129 
        C310.502228,14.343129 319.080444,14.343129 328.217896,14.343129 
        C328.217896,23.241035 328.217896,32.130821 328.217896,41.479279 
        C334.029877,41.479279 339.294830,41.479279 344.712341,41.479279 
        C344.712341,48.027500 344.712341,54.097736 344.712341,60.651855 
        C339.233887,60.651855 333.980835,60.651855 328.262085,60.651855 
        C328.262085,67.917549 328.262085,74.708931 328.262085,82.000290 
      z"/>
      <path fill="#040404" opacity="1.000000" stroke="none" 
        d="
      M223.221207,76.999901 
        C223.221207,65.357971 223.221207,54.216053 223.221207,42.735577 
        C231.773193,42.735577 240.020920,42.735577 248.866074,42.735577 
        C248.866074,48.000008 248.866074,53.332245 248.866074,58.664482 
        C256.398804,45.760715 266.129395,37.868259 281.979065,40.362026 
        C281.979065,49.149536 281.979065,57.772686 281.979065,66.996208 
        C279.357880,66.996208 276.607849,66.963219 273.858795,67.001648 
        C257.996796,67.223373 250.170166,74.920372 250.054962,90.706032 
        C249.934586,107.201355 250.023560,123.698212 250.021057,140.194397 
        C250.020889,141.320221 250.021042,142.446060 250.021042,143.786346 
        C241.062332,143.786346 232.460876,143.786346 223.221207,143.786346 
        C223.221207,121.688179 223.221207,99.594048 223.221207,76.999901 
      z"/>
      <path fill="#020202" opacity="1.000000" stroke="none" 
        d="
      M407.540039,65.958130 
        C402.286926,66.330879 397.394318,66.095787 392.693787,66.935555 
        C383.529358,68.572800 378.077240,74.090416 377.025391,83.264648 
        C376.175781,90.675102 376.281067,98.209656 376.210449,105.691498 
        C376.094421,117.977173 376.178986,130.264740 376.178986,142.774551 
        C367.247223,142.774551 358.660095,142.774551 349.833740,142.774551 
        C349.833740,109.098259 349.833740,75.543228 349.833740,41.739143 
        C358.290131,41.739143 366.541138,41.739143 375.039612,41.739143 
        C375.039612,47.276569 375.039612,52.563175 375.039612,57.849777 
        C382.376984,45.211559 391.996918,36.983189 407.987366,39.323586 
        C407.987366,48.118641 407.987366,56.977333 407.540039,65.958130 
      z"/>
      <path fill="#000000" opacity="1.000000" stroke="none" 
        d="
      M116.526222,208.000305 
        C116.526207,202.177078 116.526207,196.853851 116.526207,191.209137 
        C125.240036,191.209137 133.820984,191.209137 142.741852,191.209137 
        C142.741852,224.524063 142.741852,258.024353 142.741852,291.761688 
        C134.180359,291.761688 125.603851,291.761688 116.526237,291.761688 
        C116.526237,263.949249 116.526237,236.224777 116.526222,208.000305 
      z"/>
      <path fill="#040404" opacity="1.000000" stroke="none" 
        d="
      M143.086868,157.189346 
        C143.087372,164.608459 143.087372,171.543060 143.087372,178.677261 
        C134.190765,178.677261 125.762627,178.677261 116.920013,178.677261 
        C116.920013,170.703613 116.920013,162.686356 116.920013,154.094635 
        C124.965714,154.094635 133.043442,154.032623 141.116028,154.207748 
        C141.790543,154.222366 142.430405,155.834763 143.086868,157.189346 
      z"/>
    </svg>
  </div>

  <div class="px-8 2xl:max-w-7xl mx-auto pb-12">
    <div class="mt-6 space-y-2">
      <div
        class="h-0.5 bg-secondary"
        data-aos="fade-up"
        data-aos-duration="1000">
      </div>
      <div
        class="flex flex-col sm:flex-row gap-3 justify-between lg:items-center"
        data-aos="fade-up"
        data-aos-duration="1500">
        <div class="flex gap-3 items-center">
          <h3 class="text-secondary text-xs font-medium">
            <span>Computer Science student</span>
          </h3>
          <span class="h-auto border-secondary border"></span>
          <span class="text-secondary text-xs font-semibold"
            >Available for work</span
          >
        </div>
        <div>
          <ul class="lg:items-center flex justify-between w-full gap-3 relative text-xs">
            <li>
              <a
                href="https://github.com/bertie-simmons"
                class="hover:text-secondary/80 text-secondary"
                >GitHub</a
              >
            </li><li>
              <a
                href="https://www.linkedin.com/in/bertram-simmons/"
                class="hover:text-secondary/80 text-secondary"
                >LinkedIn</svg
                ></a
              >
            </li><li>
              <a
                href="mailto:bertram.dys@gmail.com"
                class="hover:text-secondary/80 text-secondary"
                >Email</a
              >
            </li><li>
              <a 
                href="/Bertram_Simmons_CV_2025.pdf" 
                download="Bertram_Simmons_CV_2025.pdf"
                class="hover:text-secondary/80 text-secondary font-bold"
              >CV</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>