---
import { Image } from 'astro:assets';
import painting1 from "../assets/painting1.png"
import painting2 from "../assets/painting2.jpeg"
import painting3 from "../assets/painting3.jpeg"
---

<section class="bg-primary">
  <div class="px-8 2xl:max-w-7xl mx-auto py-6">
    <div class="mt-6 space-y-2">
      <div class="h-0.5 bg-secondary"></div>
      <h3 class="text-secondary text-base font-medium">
        <span></span>
        <span class="font-bold">Paintings</span>
      </h3>
    </div>
    <div class="flex justify-center items-center gap-20">
      <Image src={painting1} alt="Painting" class="w-90 object-contain rounded-sm" data-oas="fade-up" />
      <Image src={painting2} alt="Painting" class="w-85 object-contain rounded-sm" data-oas="fade-up" />
      <Image src={painting3} alt="Painting" class="w-75 object-contain rounded-sm" data-oas="fade-up" />
    </div>
  </div>

  <div class="px-8 2xl:max-w-7xl mx-auto pb-12">
    <div class="mt-6 space-y-2">
      <div
          class="h-1.5 bg-secondary"
          data-aos="fade-up"
          data-aos-duration="2000">
        </div>
        <div class="h-3 bg-secondary" data-aos="fade-up" data-aos-duration="2500">
        </div>
        <div class="h-6 bg-secondary" data-aos="fade-up" data-aos-duration="3000">
        </div>
        <div
          class="h-12 bg-secondary"
          data-aos="fade-up"
          data-aos-duration="3000">
        </div>
        <div
          class="h-24 bg-secondary flex items-end p-4"
          data-aos="fade-up"
          data-aos-duration="3000"
          data-aos-delay="150">
        </div>
      </div>  
    </div>
  </div>
</section>